<h1>Ela</h1>

<p>Pour réinitialiser votre mot de passe veuillez cliquer sur le lien suivant <a href="http://localhost/projet_e_commerce/web/app_dev.php/login">http://localhost/projet_e_commerce/web/app_dev.php/profil</p>
