{% extends 'base.html.twig' %}

{% block title %}
Backoffice Membre
{% endblock%}

{% block section %}

<div class="container">

<h1>Supprimer un membre</h1>

{% for membre in myResults %}

<div class="alert alert-success">Le membre {{ membre.username }} a bien été supprimé.</div>

{% endfor %}

<br>

<a href="{{ path('jeremy_user_homepage') }}">Revenir à la liste des membres</a>

</div>

{% endblock %}
