{% extends 'base.html.twig' %}

{% block title %}
Backoffice Produit
{% endblock %}

{% block section %}

<div class="container">

<h1>Suppression d'un produit</h1>

<div class="alert alert-success">Le produit a bien été supprimé.</div>
<br>
<a href="{{ path('jeremy_produit_homepage') }}">Revenir à la liste des produits</a>

{% endblock %}
