{% extends 'base.html.twig' %}

{% block title %}
Backoffice Commande
{% endblock%}

{% block section %}

<div class="container">

<h1>Modifier une commande</h1>

<a href="{{ asset('app_dev.php/backoffice=commande') }}">Revenir à la liste des commandes</a>

{{ form(view) }}

{% endblock %}
