{% extends 'base.html.twig' %}

{% block title %}
Suppression Commande
{% endblock %}

{% block section %}

<div class="container">

<h1>Supprimer une Commande</h1>

{% for commande in myResults %}

<div class="alert alert-success">La commande n°{{ commande.id }} de l'utilisateur {{ commande.username }} a bien été supprimé.</div>

{% endfor %}

<br>

<a href="{{ path('jeremy_commande_homepage') }}">Revenir à la liste des commandes</a>

</div>

{% endblock %}
