{% extends 'base.html.twig' %}

{% block title %}
Paiement
{% endblock %}

{% block section%}



<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading mL40">
                    <h3 class="panel-title">Carte de Paiement</h3>
                </div>
                <br>
                <div class="panel-body">
                    <form role="form">
                    <div class="form-group">
                        <label for="nomprenom">Nom et Prénom</label>
                        <div class="input-group pL15">
                            <input type="text" class="form-control" style="width:70%" id="nomprenom" disabled required autofocus />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numCart">Numéro de Carte</label>
                        <div class="input-group pL15">
                            <input type="text" class="form-control" style="width:70%" id="numCart" disabled required autofocus />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label for="dateexpi">Date d'expiration</label>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" id="moisexpi" disabled placeholder="MM" required />
                                </div>
                                <br>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" id="anneexpi" disabled placeholder="YY" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6 pull-right">
                            <div class="form-group">
                              <label for="cvCode">CVV</label>
                                <div class="pL15">
                                  <input type="password" class="form-control" id="cvCode" placeholder="CVV" disabled required />
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>

            <a href="" class="btn btn-success btn-lg btn-block" style="width:140%;" role="button">Payer</a>
        </div>
    </div>
</div>


{% endblock %}
