
<body>
<!-- Navigation -->
 <nav class="navbar-inverse" role="navigation">
 <div class="container-fluid">

 <div class="navbar-header">
 <button type="button" class="navbar-toggle collapsed" datatoggle="collapse" data-target="#bs-example-navbar-collapse-1">
 <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 </button>
 <a class="navbar-brand" href="{{ path('jeremy_front_homepage') }}">Ela | </a>
 </div>

 <div class="collapse navbar-collapse" id="bs-example-navbarcollapse-1">
 </div>
 </div>
 </nav>



<div class="collapse navbar-collapse" id="bs-example-navbarcollapse-1">
<ul class="nav navbar-nav">
 <li class="dropdown">
 <a href="#" class="active dropdown-toggle" datatoggle="dropdown">Categories <span class="caret"></span></a>
 <ul class="dropdown-menu" role="menu">
 <li><a href="category.html">Apparel &amp; Accessories</
a></li>
 <li><a href="category.html">Baby Products</a></li>
 <li><a href="category.html">Beauty &amp; Health</a></
li>
 <li><a href="category.html">Electronics</a></li>
 <li><a href="category.html">Furniture</a></li>
 <li><a href="category.html">Home &amp; Garden</a></li>
 <li><a href="category.html">Luggage &amp; Bags</a></li>
 <li><a href="category.html">Shoes</a></li>
 <li><a href="category.html">Sports &amp;
Entertainment</a></li>
 <li><a href="category.html">Watches</a></li>
 <li class="divider"></li>
 <li><a href="ecommerce.html">All Categories</a></li>
 </ul>
 </li>
 <li><a href="#">Link</a></li>
 <li><a href="#">Link</a></li>
 </ul>

</body>
