{% extends 'base.html.twig' %}

{% block title %}
Backoffice
{% endblock %}

{% block section %}

<div class="container">

<h1>Bienvenue dans le Back Office</h1>

<a href="{{ asset('app_dev.php/produit') }}" class="tdecoNone blue">Voir la liste des produits |</a>
<a href="{{ asset('app_dev.php/backoffice=membre') }}" class="tdecoNone blue">Voir la liste des membres |</a>
<a href="{{ asset('app_dev.php/produit') }}" class="tdecoNone blue">Voir la liste des produits |</a>
<a href="{{ asset('app_dev.php/produit') }}" class="tdecoNone blue">Voir la liste des produits |</a>


{% endblock %}
