{% extends 'base.html.twig' %}

{% block title %}

Contact

{% endblock %}

{% block section %}

  <div class="container" style="text-align:center;">

    {{ form(view) }}

  </div>




{% endblock %}
